# Les ligne commençant par '#' sont des commentaires.

# Ignorer tous les fichiers  persos qt
*.pro.user
*.pro.user.18
*~

*.idea

#ignore bin directory
bin/server/debug/*
bin/server/release/*

# Ignorer les objets et les archives
*.[oa]
